.profile-pic {
	border: 1px solid black;
	top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 20px;

}

.two-col-box {
	border: 1px solid black;
	width: 900px;
	height: 300px;
	margin-left: 300px;
	position:fixed;
	top: 10px;
}

.workplace-box {
	border: 1px solid black;
	width: 336px;
	height: 223px;
}
